@import "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation-float.min.css";
.gris{
  background-color: darkgrey;
}

.box{
  margin: 0.3em 0;
}
.box--center{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
}
.box--top{
  padding-top: 10px;
}

.EmbeddedTweet {
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  max-width: 520px;
}
.EmbeddedTweet-tweet {
  padding: 20px 20px 11.6px 20px;
  display: block;
}
.TweetAuthor {
  margin-top: 1px;
  line-height: 0;
  max-width: 100%;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  word-wrap: normal!important;
}

.TweetAuthor-avatar {
  display: inline-block;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 4px;
}
.Avatar--edge {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}
.Identity-name {
  line-height: 1.2;
  font-weight: 700;
}
.TweetAuthor-screenName {
  font-size: 14px;
  color: #697882;
}
.Tweet-body {
  margin-top: 14px;
}
.Tweet-text {
}
blockquote, button, h1, h2, h3, h4, h5, h6, iframe, ol, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

blockquote {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}